NEXT_PUBLIC_URL="http://localhost:3000"
NEXT_PUBLIC_AXIOS_BASEPATH="/api/v1"

REDIS_URL="redis://localhost:6379"

NODE_ENV="development"

DB_URL="file:./db/dev.db"

AUTH_SECRET="secrect"
AUTH_BASEPATH="/api/v1/auth"
AUTH_TRUST_HOST=true
AUTH_URL=http://localhost:3000/api/v1/auth

AUTH_GITHUB_ID="id"
AUTH_GITHUB_SECRET="secret"
AUTH_ALLOW_GITHUB_DANGEROUS_EMAIL_ACCOUNT_LINKING="true"

AUTH_GOOGLE_ID="id"
AUTH_GOOGLE_SECRET="secret"
AUTH_ALLOW_GOOGLE_DANGEROUS_EMAIL_ACCOUNT_LINKING="true"

EMAIL_SERVER_AUTH_USER="nour1r3d1@gmail.com"
EMAIL_SERVER_HOST="smtp.gmail.com"
//use 587 and secure false for unsecure
EMAIL_SERVER_PORT=465
EMAIL_SERVER_SECURE=true
EMAIL_SERVER_AUTH_CLIENT_ID="id"
EMAIL_SERVER_AUTH_CLIENT_SECRET="secret"
EMAIL_SERVER_AUTH_REFRESH_TOKEN="token"
EMAIL_FROM="Authenticator <nour1r3d1@gmail.com>"

BCRYPT_HASH_ROUNDS=10
